html,
body,
#root {
font-family: "Gruppo", sans-serif;
height: 100%;
width: 100%;
margin: 0;
}

/* Global reset-ish */
body {
margin: 0;
background: #1f1f1f;
color: #eaeaea;
}

/* NAVBAR */
.navbar {
background: #141414;
border-bottom: 1px solid #2a2a2a;
}

.nav-container {
margin: 0 auto;
padding: 1rem 2rem;
height: 5rem;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo {
font-size: 2rem;
font-weight: 300;
padding-bottom: 0.5rem;
}

.links {
position: absolute;
left: 50%;
transform: translateX(-50%);
list-style: none;
display: flex;
gap: 2rem;
font-size: 1.5rem;
margin: 0;
padding: 0;
}

.links a {
color: #cfcfcf;
text-decoration: none;
font-weight: 400;
}

.links a:hover {
color: white;
}

.buttons {
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
}

/* BUTTONS */
.buttons a {
display: flex;
align-items: center;
justify-content: center;
background: #2a2a2a;
color: #eaeaea;
padding: 0.5rem 1.2rem;
border-radius: 6px;
cursor: pointer;
}

.buttons a:hover {
background: #3a3a3a;
}

section {
  padding: 6rem 2rem;
}

.hero-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-section h1 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

.hero-section p {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.hero-section .button {
  margin-top: 2rem;
  justify-content: center;
  font-size: 2rem;
}

.how-it-works {
    text-align: center;
}

.how-it-works h2 {
    font-size: 4rem;
}

.how-it-works h3 {
    font-size: 3rem;
}

.how-it-works .step {
    margin-top: 2rem;
    font-size: 2rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    display: inline-block;
    padding: 1.5rem;
}

.features-section {
    background-color: #1f1f1f
}

.features-section h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.features-section p {
    font-size: 1.25rem;
}

.features-section h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.feature-card {
  padding: 2rem;
  border-radius: 12px;
  background: #111;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.showcase-section h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.showcase-section {
  max-width: 1200px;
  margin: 0 auto;
}

.showcase-row {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin: 4rem 0;
}

.showcase-row.reverse {
  flex-direction: row-reverse;
}

.showcase-image {
  width: 65%;
  border-radius: 12px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  margin-right: -6rem;
  margin-left: -6rem;
}

.showcase-text {
  font-size: 3rem;
  line-height: 2;
  padding: 4rem;
}

.cta-section{
    text-align: center;
    background: #141414;
    padding: 6rem 2rem;
}

.cta-section h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.cta-section p {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.cta-section .button {
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
